[Desktop Entry]
Type=Application
Name=wxPic
GenericName=Image Editor
Comment=Minimal image editor
Icon=${SNAP}/meta/gui/wxpic.png
Exec=wxpic %U
MimeType=image/jpeg;image/jpg;image/pjpeg;image/png;image/x-png;
Categories=Graphics;2DGraphics;
Keywords=draw;drawing;paint;painting;graphics;2d;
StartupNotify=true
X-SnapInstanceName=wxpic
